* {
    font-size: inherit;
    box-sizing: inherit;
    color: inherit;
    font: inherit;
}

html {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    font-size: 100%;
    line-height: 1.5;
}

a:focus {
    outline: none;
}

.hover-opacity-on:hover {
    opacity: 0.7;
}